#gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: auto;
}
#gallery img {
    width: 90%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    align-self: center;
    justify-self: center;
}