@media screen and (max-width: 600px) {
  #gallery {
    grid-template-columns: auto auto !important;
  }
}

#gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 50px;
  margin-top: 2%;
}
#gallery img {
  width: 90%;
  height: auto;
  align-self: center;
  justify-self: center;
  border-radius: 4px;
}
#gallery iframe {
  width: 90%;
  align-self: center;
  justify-self: center;
  border-radius: 4px;
}
