@media screen and (max-width: 600px) {
  #gallery {
    grid-template-columns: auto auto !important;
  }
}
@media screen and (max-width: 480px) {
  #gallery {
    grid-template-columns: auto  !important;
  }
}

#gallery {
  display: grid;
  grid-template-columns: auto auto auto;
}
#gallery img {
  width: 90%;
  height: auto;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  align-self: center;
  justify-self: center;
  transition-duration: 0.2s;
}
#gallery iframe {
  width: 90%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  align-self: center;
  justify-self: center;
  transition-duration: 0.2s;
}
#gallery img:hover {
  width: 95%;
  transition-duration: 0.2s;
}