@media screen and (max-width: 480px) {

    html {
        overflow-x: hidden;
    }
    .title {
        margin-top: 60% !important;
    }
    .title h1{
        font-size: 26px;
    }
    .subtitle p{
        font-size: 11px;
    }
    .navbar {
        zoom: 60% !important;
    }
    .outernav {
        width: max-content;
        zoom: 100%;
    }
    .header {
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw !important;    
    }
    .black {
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw !important;    
    }
    .home {
        background-size: 190vh !important;
    }
    .about-us {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        column-gap: 15px;
        width: 100vw;
        text-align: center !important;
    }
    .about-us p {
        margin-right: 15px;
        margin-left: 15px;
    }
    .about-us img {
        width: 90% !important;
        height: auto !important;
    }
    .ourteam {
        font-size: 10px !important;
        width: auto !important;
    }
    .teams {
        display: flex;
        flex-wrap: wrap !important;
        align-items: center;
        margin-top: 10%;
        gap: 50px;
        text-align: left;
        width: 100vw !important;
    }
    .teams h3 {
        text-align: center;
        width: 100vw !important;
    }
    #boop {
        margin-top: 60px;
    }
    .teams img {
        display: flex;
        width: 95vw !important;
        height: auto !important;
        float: none !important;
    }
    .slides {
        display: flex;
        width: 98% !important;
        height: auto;
        float: none;
        margin-left: 10px; 
    }
    .teams p {
        padding-right: 50px;
        padding-left: 50px;
        text-align: center;
        width: 75vw !important;
    }
    .btn-right {
        right: 65px !important;
        top: 270px !important;
        color: black;
        background-size: 50px !important;
        border-radius: 100px;
        padding: 11px 20px;
        text-decoration: none;
    }
    .btn-right:hover {
        right: 50px !important;
    }
    .btn-left {
        left: 15px !important;
        top: 270px !important;
        color: black;
        border-radius: 100px;
        padding: 11px 20px;
        text-decoration: none;
    }
    .btn-left:hover {
        left: 0px !important;
    }
    .people {
        width: 100vw;
    }
    .firstheader {
        overflow-y: scroll !important;
    }
    .firstcontent {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .firstcontent p {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .firstcontent img {
        display: none;
    }
}