@media screen and (max-width: 1385px) {
  html {
    overflow-x: hidden;
  }
  .about-us {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    column-gap: 15px;
    width: 100vw;
    text-align: center !important;
  }
  .about-us img {
    width: 90% !important;
    height: auto !important;
  }
  .slides {
    width: 98% !important;
    height: auto;
    float: none;
  }
  .teams img {
    padding-left: 40px;
  }
  .teams p {
    text-align: center;
    width: auto !important;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 18px !important;
    margin-top: -30px;
  }
  .btn-right {
    right: 110px !important;
    top: 220px !important;
    position: relative !important;
    color: black;
    background-color: white !important;
    border-radius: 100px;
    padding: 11px 20px;
    text-decoration: none;
  }
  .btn-right:hover {
    right: 115px !important;
  }
  .btn-left {
    left: 50px !important;
    top: 220px !important;
    color: black;
    background-color: white !important;
    border-radius: 100px;
    padding: 11px 20px;
    text-decoration: none;
  }
  .btn-left:hover {
    left: 45px !important;
  }
  .navbar {
    zoom: 90% !important;
  }
  #boop {
    margin-top: -50px !important;
    padding-right: 30px;
  }
  .aboutwoosh {
    width: 100% !important;
  }
  .gallerywoosh {
    width: 100% !important;
  }
  .firstwoosh {
    width: 100% !important;
  }
}
@media screen and (max-width: 1215px) {
  .navbar {
    zoom: 75% !important;
  }
}
@media screen and (max-width: 1030px) {
  .navbar {
    zoom: 63% !important;
  }
  .wooshies img {
    width: 400px !important;
  }
  .howto img {
    width: 400px !important;
  }
}
@media screen and (max-width: 800px) {
  html {
    overflow-x: hidden;
  }
  .title {
    margin-top: 60% !important;
  }
  .title h1 {
    font-size: 26px;
  }
  .subtitle p {
    font-size: 11px;
  }
  .navbar {
    zoom: 68% !important;
    flex-wrap: wrap;
    position: absolute;
    top: 2%;
  }
  .space {
    display: none;
  }
  .header {
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw !important;
  }
  .black {
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw !important;
  }
  .ourteam {
    font-size: 19px !important;
    width: auto !important;
  }
  .about-us p {
    margin-right: 20px;
    margin-left: 20px;
  }
  #boop {
    margin-top: 60px;
  }
  .people {
    width: 100vw;
  }
  .left {
    justify-content: center;
  }
  .teams img {
    display: flex;
    width: 95vw !important;
    height: auto !important;
    float: none !important;
    margin-left: 1% !important;
  }
  .teams p {
    width: auto !important;
    margin-left: 50px !important;
    margin-right: 50px !important;
  }
  .btn-right {
    right: 45px !important;
    top: 270px !important;
    position: absolute !important;
    color: black;
    background-color: white !important;
    border-radius: 100px;
    padding: 11px 20px;
    text-decoration: none;
    zoom: 90%;
  }
  .btn-right:hover {
    right: 40px !important;
  }
  .btn-left {
    left: 55px !important;
    top: 270px !important;
    color: black;
    background-color: white !important;
    border-radius: 100px;
    padding: 11px 20px;
    text-decoration: none;
    zoom: 90%;
  }
  .btn-left:hover {
    left: 55px !important;
  }
  .wooshies img {
    width: 300px !important;
  }
  .aboutwoosh {
    flex-wrap: wrap-reverse !important;
  }
  .firstwoosh {
    flex-wrap: wrap-reverse !important;
  }
  .greybg {
    width: 55vw !important;
  }
  #parentstudents {
    height: 20vw;
  }
  .sponsors img {
    height: 20vw !important;
  }
  #nsscouncil {
    height: 15vw !important;
  }
}
@media screen and (max-width: 482px) {
  .navbar {
    zoom: 50% !important;
  }
}
