/* Entire Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

/* Draggy Thingy */
::-webkit-scrollbar-thumb {
  background: #8c8c8c;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* The Full Page Image Header */
.header {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  width: 100%;
  height: 100vh;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

/* The Semi-Transparent Black Overley On The Background Image */
.black {
  background: black;
  opacity: 28%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/* Big Title Text */
.title {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 50%;
  text-decoration: underline;
  margin-bottom: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* Mini Subtitle Text */
.subtitle {
  font-size: 25px;
  color: white;
  text-align: center;
  text-decoration: underline;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.loading-title p {
  color: white;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #00ff91;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: blink-caret 0.75s step-end infinite;
}

/* Main Navbar Div */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  height: 40px;
  z-index: 3;
  position: absolute;
  top: 0;
}

.left {
  display: flex;
  color: white;
  font-size: large;
}

.space {
  width: 13vw;
}

.left img {
  width: 10%;
  height: 10%;
  align-self: center;
  padding-right: 10px;
}

/* Navbar Button */
.dropbtn {
  text-decoration: none;
  color: white;
  text-decoration: underline solid transparent;
  padding: 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.dropbtn:hover {
  text-decoration: underline solid white;
  text-decoration-thickness: 2px;
  transition-duration: 0.3s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  align-self: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10px;
  min-width: 160px;
  z-index: 1;
  background-color: white;
  opacity: 90%;
  text-align: center;
  margin-top: 10px;
}

/* Links Inside The Dropdown Content */
.dropdown-content a:hover {
  text-decoration: underline solid black;
  transition-duration: 0.6s;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  text-decoration: underline solid transparent;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 10px;
}

/* Scroll Down Message Div */
.goDown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: absolute;
  bottom: 10px;
  z-index: 2;
}

/* "Scroll Down" Text */
#downText {
  font-size: 20px;
  color: white;
}

/* Kinda Self Explanitory */
.ourTeamTitle {
  font-size: 30px;
  color: white;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20%;
  margin-top: 20%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

/* The Bouncing Arrow */
.arrow {
  position: relative;
  bottom: -0.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  background-image: url("/imgs/down.png");
  background-size: contain;
}

/* Bouncing Arrow Animation */
.bounce {
  animation: bounce 2s infinite;
}

.leftbounce {
  animation: leftbounce 2s infinite;
}

.rightbounce {
  animation: rightbounce 2s infinite;
}

/* The Text Under The Big Image */
.content {
  color: black;
  margin-top: 25px;
  line-height: 2;
}

.about-us {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 10%;
  gap: 50px;
  width: fit-content;
  color: black;
  text-align: left;
  width: fit-content;
  padding-right: 30px;
}

.about-us img {
  height: 400px;
  width: auto;
  border-radius: 10px;
  margin-left: 15px;
}

.about-us p {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
}

.about-us h3 {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 32px;
}

.subteams {
  text-align: center;
  margin-top: 10%;
}

.subteams h3 {
  font-size: 32px;
}

.subteams p {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.teams {
  display: flex;
  flex-flow: column;
  row-gap: 30px;
  align-items: center;
  justify-content: center;

  color: black;
  margin-top: 7%;
  width: auto;
}

.teams img {
  width: 595px;
  height: auto;
  border-radius: 10px;
  float: left;
  margin-right: 50px;
  left: 0;
}

.teams p {
  text-align: center;
  width: 1300px;
  font-size: 20px;
}

.teams h3 {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin-top: 8%;
}

.people {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  column-gap: 70px;
  row-gap: 75px;
}

figcaption {
  text-align: center;
}

.our-team {
  display: block;
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
  margin-top: 8%;
}

.people img {
  height: 600px;
  width: 600px;
  border-radius: 50%;
  zoom: 50%;
}

.people p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 20px;
}

.people figcaption {
  font-size: 20px;
}

.slides {
  position: relative;
  display: block;
  width: 595px;
}

.btn-left:not(hover) {
  transition-duration: 0.3s;
  display: block;
  position: absolute;
  left: -40px;
  top: 210px;
  background: none;
  border-color: transparent;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px 15px;
}

.btn-left:hover {
  transition-duration: 0.3s;
  border-radius: 100px;
  padding: 5px 15px;
  left: -45px;
  animation: none;
}

.btn-right:not(hover) {
  transition-duration: 0.3s;
  display: block;
  position: absolute;
  right: -40px;
  top: 210px;
  background: none;
  border-color: transparent;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px 15px;
}

.btn-right:hover {
  transition-duration: 0.3s;
  background-size: 50px;
  border-radius: 100px;
  padding: 5px 15px;
  right: -45px;
  animation: none;
}

.footer {
  background-color: #1a1a1a;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  text-align: center;

  z-index: 1;
}

.footer img {
  width: 180px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.center p {
  font-size: 18px;
  margin-top: 0px;
}

.footerline {
  height: 2px;
  width: 30%;
  background-color: white;
}

.footerlinks {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.footerlinks img {
  width: 30px;
  margin-left: 10px;
  margin-right: 10x;
  justify-self: center;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover,
#back-to-top-btn:focus {
  transition-duration: 300ms;
  background-color: rgb(89, 89, 89);
  border: 3px solid rgb(89, 89, 89);
}
.backtotoparrow {
  height: 80%;
  width: auto;
  margin-top: 3px;
  margin-left: 1px;
}
.wooshies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.wooshies img {
  width: 600px;
  height: auto;
  padding: 15px;
  border-radius: 30px;
}
.wooshies p {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10%;
  width: 300px;
}
.wooshies a {
  text-decoration: none;
  color: white;
  background-color: #333;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.wooshgroup {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.aboutwoosh {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  width: 75vw;
}
.gallerywoosh {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  width: 75vw;
}
.firstwoosh {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  width: 75vw;
}
.donatewoosh {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  width: 75vw;
}
.howto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.howto img {
  width: 600px;
  height: auto;
  padding: 15px;
  border-radius: 20px;
}
.howto a {
  text-decoration: none;
  color: white;
  background-color: #333;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.howto p {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10%;
  width: 360px;
}
.wooshgroup {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.step {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: ce;
  margin-top: 50px;
  width: 75vw;
}
