:root {
  --onyx: #424241;
  --shinygrey: #8e9196;
  --vividblue: #7cbae1;
  --wheezerblue: #a4cde7;
  --max-blue-purple: #949de9;
  --vividblue: #5ccbff;
}
/* Entire Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}
/* Draggy Thingy */
::-webkit-scrollbar-thumb {
  background: #8c8c8c;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
/* The Full Page Image Header */
.header {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  width: 100%;
  height: 100vh;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
/* The Semi-Transparent Black Overlay On The Background Image */
.moreblack {
  background: black;
  opacity: 70%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}
.black {
  background: black;
  opacity: 60%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
/* Big Title Text */
.title {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 50%;
  text-decoration: underline;
  margin-bottom: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
/* Mini Subtitle Text */
.subtitle {
  font-size: 25px;
  color: white;
  text-align: center;
  text-decoration: underline;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.loading-title p {
  color: white;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #00ff91;
  /* The typewriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: blink-caret 0.75s step-end infinite;
}
/* Main Navbar Div */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  height: 40px;
  z-index: 3;
  position: absolute;
  top: 0;
}
.left {
  display: flex;
  color: white;
  font-size: large;
}
.space {
  width: 13vw;
}
.left img {
  width: 10%;
  height: 10%;
  align-self: center;
  padding-right: 10px;
}
/* Navbar Button */
.dropbtn {
  text-decoration: none;
  color: white;
  text-decoration: underline solid transparent;
  padding: 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.dropbtn:hover {
  text-decoration: underline solid var(--vividblue);
  text-decoration-thickness: 2px;
  transition-duration: 0.3s;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  align-self: center;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: #efefef;
  text-align: center;
  margin-top: 8px;
}
/* Links Inside The Dropdown Content */
.dropdown-content a:hover {
  text-decoration: underline solid var(--vividblue);
  transition-duration: 0.6s;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  text-decoration: underline solid transparent;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 8px;
}
/* Scroll Down Message Div */
.goDown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: absolute;
  bottom: 10px;
  z-index: 2;
}
/* "Scroll Down" Text */
#downText {
  font-size: 20px;
  color: white;
}
/* Kinda Self Explanatory */
.ourTeamTitle {
  font-size: 30px;
  color: white;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20%;
  margin-top: 20%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
/* The Bouncing Arrow */
.arrow {
  position: relative;
  bottom: -0.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  background-image: url("/imgs/down.png");
  background-size: contain;
}
/* Bouncing Arrow Animation */
.bounce {
  animation: bounce 2s infinite;
}
.leftbounce {
  animation: leftbounce 2s infinite;
}
.rightbounce {
  animation: rightbounce 2s infinite;
}
/* The Text Under The Big Image */
.content {
  color: black;
  margin-top: 25px;
  line-height: 2;
}
.about-us {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 10%;
  gap: 50px;
  width: fit-content;
  color: black;
  text-align: left;
  width: fit-content;
  padding-right: 30px;
}
.about-us img {
  height: 400px;
  width: auto;
  border-radius: 10px;
  margin-left: 15px;
}
.about-us p {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
}
.about-us h3 {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 32px;
}
.subteams {
  text-align: center;
  margin-top: 10%;
}
.subteams h3 {
  font-size: 32px;
}
.subteams p {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.teams {
  display: grid;
  grid-template-columns: auto;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  color: black;
  margin-top: 7%;
  width: auto;
}
.teamgroup {
  display: flex;
  align-items: center;
}
.teams img {
  width: 550px;
  height: auto;
  border-radius: 10px;
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  left: 0;
}
.teams p {
  text-align: center;
  font-size: 20px;
  padding-left: 55px;
  padding-right: 55px;
}
.teams h3 {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin-top: 0;
}
figcaption {
  text-align: center;
}
.people {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  column-gap: 70px;
  row-gap: 75px;
}
.our-team {
  display: block;
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
  margin-top: 8%;
}
.people img {
  height: 600px;
  width: 600px;
  border-radius: 50%;
  zoom: 50%;
}
.people p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 20px;
}
.people figcaption {
  font-size: 20px;
}
.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  grid-gap: 50px;
}
.sponsorbox {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  width: 25vw;
}
.sponsors img {
  height: 12vw;
  width: auto;
}
.sponsors p {
  text-align: center;
  font-size: 15px;
}
.sponsors a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: var(--onyx);
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  transition-duration: 200ms;
  border: 3px solid #333;
}
.sponsors a:hover {
  transition-duration: 200ms;
  background-color: transparent;
  color: var(--vividblue);
  border: 3px solid var(--vividblue);
}
.sponsors figcaption {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.slides {
  position: relative;
  display: block;
  width: 595px;
}
.btn-left:not(hover) {
  transition-duration: 0.3s;
  display: block;
  position: absolute;
  left: 15px;
  top: 210px;
  background: none;
  border-color: transparent;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px 15px;
}
.btn-left:hover {
  transition-duration: 0.3s;
  border-radius: 100px;
  padding: 5px 15px;
  left: 0px;
  animation: none;
  color: var(--vividblue);
}
.btn-right:not(hover) {
  transition-duration: 0.3s;
  display: block;
  position: absolute;
  right: -40px;
  top: 210px;
  background: none;
  border-color: transparent;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px 15px;
}
.btn-right:hover {
  transition-duration: 0.3s;
  background-size: 50px;
  border-radius: 100px;
  padding: 5px 15px;
  right: -45px;
  animation: none;
  color: var(--vividblue);
}
.footer {
  background-color: #1a1a1a;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}
.footer img {
  width: 80px;
  margin-bottom: 15px;
  margin-left: 10px;
}
.vercel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.center p {
  font-size: 18px;
  margin-top: 0px;
}
.footerline {
  height: 2px;
  width: 30%;
  background-color: white;
  margin-bottom: 20px;
}
.footerlinks {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.icons {
  color: #ffffff;
  font-size: 27px;
  padding: 5px;
  transition-duration: 0.3s;
}
.icons:hover {
  color: #40c3ff;
  transition-duration: 0.3s;
}
.pages {
  margin-bottom: 15px;
}
.pages a {
  margin-left: 8px;
  margin-right: 8px;
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
  text-decoration: underline solid transparent;
}
.pages a:hover {
  text-decoration: underline solid var(--vividblue);
  text-decoration-thickness: 2px;
  transition-duration: 0.3s;
}
#topbtn {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  right: 10px;
  font-size: 15px;
  width: 40px;
  height: 100px;
  border-radius: 50px;
  background-color: transparent;
  color: var(--onyx);
  cursor: pointer;
  outline: none;
  border: 3px solid var(--onyx);
  transition-duration: 0.5s;
}
#topbtn p {
  writing-mode: vertical-lr;
  text-orientation: upright;
  line-height: normal;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}
#topbtn svg {
  width: 20px;
  height: auto;
  margin-bottom: 10px;
  fill: var(--onyx);
  transition-duration: 0.5s;
}
#topbtn:hover {
  border: 3px solid var(--vividblue);
  color: var(--vividblue);
}
#topbtn:hover svg {
  fill: var(--vividblue);
  transition-duration: 0.5s;
}
.wooshies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.wooshies img {
  width: 600px;
  height: auto;
  padding: 15px;
  border-radius: 30px;
}
.wooshies p {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10%;
  width: 300px;
}
.wooshies a {
  text-decoration: none;
  color: white;
  background-color: var(--onyx);
  margin-top: 30px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  transition-duration: 200ms;
  border: 3px solid var(--onyx);
}
.wooshies a:hover {
  transition-duration: 200ms;
  background-color: transparent;
  color: var(--vividblue);
  border: 3px solid var(--vividblue);
}
.wooshgroup {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.wooshgroup h2 {
  color: var(--vividblue);
}
.aboutwoosh {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  width: 75vw;
}
.gallerywoosh {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  width: 75vw;
}
.firstwoosh {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  width: 75vw;
}
.donatewoosh {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  width: 75vw;
}
.howto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.howto img {
  width: 600px;
  height: auto;
  padding: 12px;
  border-radius: 20px;
}
.howto a {
  text-decoration: none;
  color: white;
  background-color: var(--onyx);
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  border: 3px solid var(--onyx);
}
.howto a:hover {
  transition-duration: 200ms;
  background-color: transparent;
  color: var(--onyx);
}
.howto p {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10%;
  width: 360px;
}
.wooshgroup {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.step {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: ce;
  margin-top: 50px;
  width: 75vw;
}
.tiers {
  display: grid;
  grid-template-columns: 22vw 22vw 22vw 22vw;
  justify-content: center;
  margin-top: 25px;
  text-align: center;
  grid-gap: 30px;
}
.tiertitle {
  margin-bottom: 10px;
  font-weight: 900;
}
.box {
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.box a {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: auto;
  margin-bottom: 15px;
  transition-duration: 300ms;
  text-decoration: none;
  color: white;
  background-color: var(--onyx);
  padding: 12px;
  border-radius: 10px;
  width: 32%;
  border: 3px solid var(--onyx);
}
.box a:hover {
  transition-duration: 300ms;
  background-color: transparent;
  color: var(--vividblue);
  border: 3px solid var(--vividblue);
}
.line {
  height: 2px;
  width: 90%;
  border-radius: 10px;
  background-color: #b7b7b7;
  align-self: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.miniline {
  height: 2px;
  width: 50%;
  border-radius: 10px;
  background-color: #b7b7b7;
  align-self: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
.things {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 13px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.things p {
  text-align: left;
}
.things img {
  height: 12px;
  width: auto;
}
.amount {
  margin-bottom: 1px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
}
.taxrecipt {
  margin-top: 1px;
  margin-bottom: 14.5px;
}
.logoinfo {
  grid-column-start: 1;
  grid-column-end: 5;
}
.infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  background-color: var(--onyx);
  color: white;
  text-align: center;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}
.infobox button {
  background-color: white;
  color: var(--onyx);
  border: none;
  border-radius: 10px;
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 85px;
  height: 40px;
  cursor: pointer;
  border: 3px solid white;
}
.infobox button:hover {
  transition-duration: 200ms;
  background-color: transparent;
  color: white;
  border: 3px solid var(--vividblue);
}
