---
//@ts-ignore
import { Img } from 'astro-imagetools/components';
import MainLayout from '../../../layouts/MainLayout.astro';
import ImageHeader from '../../../components/ImageHeader.astro';
const images = await Astro.glob(
  '../../../media/albums/2022/stemleyovertime/*.jpg'
);
images.forEach((image) => {
  image.default.src = image.default.src.replace('@astroimage', 'src');
});
---

<MainLayout title="Knight Owls - STEMley Overtime">
  <ImageHeader
    title="Regional Event - STEMley Overtime"
    background="/images/headers/gallery.webp"
  />
  <section id="gallery">
    {
      images.map((image) => (
        <div class="galleryImage" data-aos="fade-up">
          <Img
            src={image.default.src}
            alt="An image in the gallery"
            format={['webp']}
            placeholder="blurred"
          />
        </div>
      ))
    }
  </section>
</MainLayout>
<style>
  @media screen and (max-width: 600px) {
    #gallery {
      grid-template-columns: auto auto !important;
    }
  }

  #gallery {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .galleryImage {
    width: 90%;
    height: auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    align-self: center;
    justify-self: center;
  }
  #gallery iframe {
    width: 90%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    align-self: center;
    justify-self: center;
  }
</style>
