---
const { name, role } = Astro.props;
---

<div>
  <img
    data-aos="zoom-in-up"
    src={'/images/people/' + name + '.webp'}
    data-aos-once="true"
    alt={'Picture of' + name}
  />
  <p>{name}</p>
  <figcaption>{role}</figcaption>
</div>
<style>
  img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }
  p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 20px;
  }
  figcaption {
    font-size: 20px;
    text-align: center;
    width: 300px;
  }
</style>
