---
import ImageSlider from './ImageSlider/index.jsx';
const { name, images, description, fadeDirection } = Astro.props;
---

<div class="teamgroup">
  <div>
    <div data-aos={'fade-' + fadeDirection}>
      <ImageSlider images={images} client:visible />
    </div>
  </div>
  <div>
    <h3>{name}</h3>
    <p>
      {description}
    </p>
  </div>
</div>
<style>
  .teamgroup {
    display: flex;
    align-items: center;
  }
  p {
    text-align: center;
    font-size: 20px;
    padding-left: 55px;
    padding-right: 55px;
  }
  h3 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--vividblue);
    font-size: 30px;
    margin-top: 0;
  }
</style>
