---
import { contentfulClient } from '../../lib/contentful';

interface Sponsor {
  fields: {
    logo: {
      fields: {
        file: {
          url: string;
        };
      };
    };
    name: string;
    blurb: string;
    buttonText: string;
    buttonLink: string;
    tier: string;
    year: number;
    order: number;
  };
  contentTypeId: string;
}

const response = await contentfulClient.getEntries<Sponsor>({
  content_type: 'sponsor',
  //@ts-ignore
  order: '-fields.order',
});

const years: number[] = [];
// for each of the years in the response, add it to the years array if it isn't already there
response.items.forEach((item) => {
  if (!years.includes(item.fields.year)) {
    years.push(item.fields.year);
  }
});
years.sort((a, b) => b - a);

//for anything thats not an integer, remove it from the array
years.forEach((year) => {
  if (!Number.isInteger(year)) {
    years.splice(years.indexOf(year), 1);
  }
});
---

<div class="centerSelect">
  <select id="yearselector" data-aos="zoom-in" data-aos-once="true">
    {
      years.map((year) => {
        return <option value={year}>{year}</option>;
      })
    }
  </select>
</div>
<script>
  // Get the element with the id of "yearselector"
  const selector = document.getElementById('yearselector') as HTMLSelectElement;
  // When the selector changes, change the year to the selected year
  selector.addEventListener('change', function () {
    let newactive = document.querySelector('#' + this.value) as HTMLElement;
    let oldactive = document.querySelector('.sponsors') as HTMLElement;
    removeClass();
    newactive.classList.add('showDefault');
    oldactive.animate([{ opacity: '1' }, { opacity: '.5' }], {
      duration: 1000,
    });
    newactive.animate([{ opacity: '.2' }, { opacity: '1' }], {
      duration: 1000,
    });
  });
  function removeClass() {
    var allElements = document.querySelectorAll('.showDefault');
    for (let i = 0; i < allElements.length; i++) {
      allElements[i].classList.remove('showDefault');
    }
  }
</script>
<style>
  #yearselector {
    width: 250px;
    height: 50px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #333;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }
  #yearselector option {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }
  .centerSelect {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 3%;
  }
</style>
