---
import MainLayout from '../layouts/MainLayout.astro';
import ImageHeader from '../components/ImageHeader.astro';
import DonatingSlider from '../components/Sponsorship/Donating/index.jsx';
---

<MainLayout title="Knight Owls - Donate">
  <ImageHeader title="Donating" background="/images/headers/donate.webp" />
  <div class="content">
    <div class="things">
      <DonatingSlider client:visible />
      <iframe
        src="https://www.canadahelps.org/en/dne/m/10652/donation"
        title="iframe"
        width="95%"
        allow="payment"
        style="height: 800px; border: 0px; overflow: hidden;"></iframe>
    </div>
  </div>
</MainLayout>
<style>
  .content {
    color: black;
    margin-top: 25px;
    line-height: 2;
  }
  .things {
    display: grid;
    grid-template-columns: 50vw 50vw;
    justify-content: center;
    align-items: start;
    align-content: center;
    padding: 15px;
  }
  @media screen and (max-width: 1478px) {
    .things {
      grid-template-columns: 100vw;
    }
  }
</style>
