---
import MainLayout from '../layouts/MainLayout.astro';
import ImageHeader from '../components/ImageHeader.astro';

const images = [
  '/images/gallery/1.webp',
  '/images/gallery/2.webp',
  '/images/gallery/3.webp',
  '/images/gallery/4.webp',
  '/images/gallery/5.webp',
  '/images/gallery/6.webp',
  '/images/gallery/7.webp',
  '/images/gallery/8.webp',
  '/images/gallery/9.webp',
  '/images/gallery/10.webp',
  '/images/gallery/11.webp',
  '/images/gallery/12.webp',
  '/images/gallery/13.webp',
  '/images/gallery/14.webp',
  '/images/gallery/15.webp',
  '/images/gallery/16.webp',
  '/images/gallery/17.webp',
  '/images/gallery/19.webp',
  '/images/gallery/20.webp',
  '/images/gallery/21.webp',
  '/images/gallery/22.webp',
  '/images/gallery/23.webp',
  '/images/gallery/24.webp',
  '/images/gallery/25.webp',
  '/images/gallery/26.webp',
  '/images/gallery/27.webp',
  '/images/gallery/28.webp',
  '/images/gallery/29.webp',
  '/images/gallery/30.webp',
  '/images/gallery/31.webp',
  '/images/gallery/32.webp',
  '/images/gallery/33.webp',
  '/images/gallery/34.webp',
  '/images/gallery/35.webp',
  '/images/gallery/36.webp',
  '/images/gallery/37.webp',
  '/images/gallery/38.webp',
  '/images/gallery/39.webp',
  '/images/gallery/40.webp',
  '/images/gallery/41.webp',
  '/images/gallery/42.webp',
  '/images/gallery/43.webp',
  '/images/gallery/44.webp',
  '/images/gallery/46.webp',
  '/images/gallery/47.webp',
  '/images/gallery/48.webp',
  '/images/gallery/49.webp',
  '/images/gallery/50.webp',
  '/images/gallery/51.webp',
  '/images/gallery/52.webp',
  '/images/gallery/53.webp',
  '/images/gallery/54.webp',
  '/images/gallery/55.webp',
  '/images/gallery/56.webp',
  '/images/gallery/57.webp',
  '/images/gallery/58.webp',
  '/images/gallery/59.webp',
  '/images/gallery/60.webp',
  '/images/gallery/61.webp',
  '/images/gallery/62.webp',
  '/images/gallery/63.webp',
];
---

<MainLayout title="CarbonTech - Gallery">
  <ImageHeader title="Gallery" background="/images/headers/gallery.webp" />

  <section id="gallery">
    {
      images.map((image) => (
        <img data-aos="fade-up" src={image} alt="An image in the gallery" />
      ))
    }
  </section>
</MainLayout>
<style>
  @media screen and (max-width: 600px) {
    #gallery {
      grid-template-columns: auto auto !important;
    }
  }

  #gallery {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  #gallery img {
    width: 90%;
    height: auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    align-self: center;
    justify-self: center;
  }
  #gallery iframe {
    width: 90%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    align-self: center;
    justify-self: center;
  }
</style>
