---
import MainLayout from '../layouts/MainLayout.astro';
import ImageHeader from '../components/ImageHeader.astro';
import AlbumCover from '../components/Gallery/AlbumCover.astro';
---

<MainLayout title="Knight Owls - Gallery">
  <ImageHeader title="Gallery" background="/images/headers/gallery.webp" />
  <div class="content"></div>
  <div class="albums">
    <AlbumCover
      event="Regional Event - St. Mary's"
      date="September 4th-16th 2021"
      image="../images/headers/gallery.webp"
      link="/albums/stmarys"
    />
    <AlbumCover
      event="Regional Event - York University "
      date="September 4th-16th 2021"
      image="../images/headers/gallery.webp"
      link="/albums/yorkuniversity"
    />
    <AlbumCover
      event="Ontario Provincial Championship"
      date="September 4th-16th 2021"
      image="../images/headers/gallery.webp"
      link="/albums/provincials"
    />
    <AlbumCover
      event="Off Season Event - STEMley Overtime"
      date="September 4th-16th 2021"
      image="../images/headers/gallery.webp"
      link="/albums/stemleyovertime"
    />
  </div>
</MainLayout>
<style>
  @media screen and (max-width: 1280px) {
    .albums {
      grid-template-columns: auto auto !important;
    }
  }
  @media screen and (max-width: 852px) {
    .albums {
      grid-template-columns: auto !important;
    }
  }
  .content {
    margin-top: 3%;
  }
  .albums {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
  }
</style>
