---
import MainLayout from '../layouts/MainLayout.astro';
import ImageHeader from '../components/ImageHeader.astro';

const images = [
  '/src/images//gallery/1.webp',
  '/src/images//gallery/2.webp',
  '/src/images//gallery/3.webp',
  '/src/images//gallery/4.webp',
  '/src/images//gallery/5.webp',
  '/src/images//gallery/6.webp',
  '/src/images//gallery/7.webp',
  '/src/images//gallery/8.webp',
  '/src/images//gallery/9.webp',
  '/src/images//gallery/10.webp',
  '/src/images//gallery/11.webp',
  '/src/images//gallery/12.webp',
  '/src/images//gallery/13.webp',
  '/src/images//gallery/14.webp',
  '/src/images//gallery/15.webp',
  '/src/images//gallery/16.webp',
  '/src/images//gallery/17.webp',
  '/src/images//gallery/19.webp',
  '/src/images//gallery/20.webp',
  '/src/images//gallery/21.webp',
  '/src/images//gallery/22.webp',
  '/src/images//gallery/23.webp',
  '/src/images//gallery/24.webp',
  '/src/images//gallery/25.webp',
  '/src/images//gallery/26.webp',
  '/src/images//gallery/27.webp',
  '/src/images//gallery/28.webp',
  '/src/images//gallery/29.webp',
  '/src/images//gallery/30.webp',
  '/src/images//gallery/31.webp',
  '/src/images//gallery/32.webp',
  '/src/images//gallery/33.webp',
  '/src/images//gallery/34.webp',
  '/src/images//gallery/35.webp',
  '/src/images//gallery/36.webp',
  '/src/images//gallery/37.webp',
  '/src/images//gallery/38.webp',
  '/src/images//gallery/39.webp',
  '/src/images//gallery/40.webp',
  '/src/images//gallery/41.webp',
  '/src/images//gallery/42.webp',
  '/src/images//gallery/43.webp',
  '/src/images//gallery/44.webp',
  '/src/images//gallery/46.webp',
  '/src/images//gallery/47.webp',
  '/src/images//gallery/48.webp',
  '/src/images//gallery/49.webp',
  '/src/images//gallery/50.webp',
  '/src/images//gallery/51.webp',
  '/src/images//gallery/52.webp',
  '/src/images//gallery/53.webp',
  '/src/images//gallery/54.webp',
  '/src/images//gallery/55.webp',
  '/src/images//gallery/56.webp',
  '/src/images//gallery/57.webp',
  '/src/images//gallery/58.webp',
  '/src/images//gallery/59.webp',
  '/src/images//gallery/60.webp',
  '/src/images//gallery/61.webp',
  '/src/images//gallery/62.webp',
  '/src/images//gallery/63.webp',
];
---

<MainLayout title="CarbonTech - Gallery">
  <ImageHeader title="Gallery" background="/src/images//headers/gallery.webp" />

  <section id="gallery">
    {
      images.map((image) => (
        <img data-aos="fade-up" src={image} alt="An image in the gallery" />
      ))
    }
  </section>
</MainLayout>
<style>
  @media screen and (max-width: 600px) {
    #gallery {
      grid-template-columns: auto auto !important;
    }
  }

  #gallery {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  #gallery img {
    width: 90%;
    height: auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    align-self: center;
    justify-self: center;
  }
  #gallery iframe {
    width: 90%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    align-self: center;
    justify-self: center;
  }
</style>
