---
import MainLayout from '../layouts/MainLayout.astro';
import GalleryAlbumLayout from '../layouts/GalleryAlbumLayout.astro';
import ImageHeader from '../components/ImageHeader.astro';
import AlbumCover from '../components/Gallery/AlbumCover.astro';
---

<MainLayout title="Knight Owls - Gallery">
  <ImageHeader title="Gallery" background="/images/headers/gallery.webp" />
  <h3>2023 Gallery</h3>
  <GalleryAlbumLayout columns="3">
    <AlbumCover
      event="Ontario Provincial Championship"
      date={'April 6th - April 8th 2023'}
      image="/images/albums/2023/provincials/1.jpg"
      link="/albums/2023/provincials/provincials"
    />
    <AlbumCover
      event="District Event - McMaster"
      date={'March 31st - April 2nd 2023'}
      image="/images/albums/2023/mcmaster/1.jpg"
      link="/albums/2023/mcmaster"
    />
    <AlbumCover
      event="District Event - Western University"
      date={'March 17th - March 19th 2023'}
      image="/images/albums/2023/western/1.jpg"
      link="/albums/2023/western"
    />
    <AlbumCover
      event="Build Season"
      date={'January 7th - March 16th 2023'}
      image="/images/albums/2023/buildseason/12.jpg"
      link="/albums/2023/buildseason"
    />
  </GalleryAlbumLayout>
  <h3>2022 Gallery</h3>
  <GalleryAlbumLayout columns="3">
    <AlbumCover
      event="Off Season Event - STEMley Overtime"
      date="October 30th 2022"
      image="/images/albums/2022/stemleyovertime/1.jpg"
      link="/albums/2022/stemleyovertime"
    />
    <AlbumCover
      event="Ontario Provincial Championship"
      date="April 13th-16th 2022"
      image="/images/albums/2022/provincials/dayone/6.jpg"
      link="/albums/2022/provincials/provincials"
    />
    <AlbumCover
      event="District Event - St. Mary's"
      date="April 9th - 10th 2022"
      image="/images/albums/2022/stmarys/12.jpg"
      link="/albums/2022/stmarys"
    />
    <AlbumCover
      event="District Event - York University"
      date="March 27th 2022"
      image="/images/albums/2022/yorkuniversity/16.jpg"
      link="/albums/2022/yorkuniversity"
    />
    <AlbumCover
      event="Build Season"
      date="January 7th - March 26th 2022"
      image="/images/albums/2022/buildseason/32.jpg"
      link="/albums/2022/buildseason"
    />
  </GalleryAlbumLayout>
</MainLayout>
<style>
  h3 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--blue);
  }
</style>
