---
//@ts-ignore
import { Img } from 'astro-imagetools/components';
const { images = [] } = Astro.props;
---

{
  images.map((image: string) => (
    <div class="galleryImage" data-aos="fade-up">
      <Img
        src={image}
        alt="An image in the gallery"
        format={['webp']}
        placeholder="blurred"
        loading="lazy"
        rotate={90}
      />
    </div>
  ))
}
<style>
  .galleryImage {
    width: 90%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    align-self: center;
    justify-self: center;
  }
</style>
