<h3 class="our-team" data-aos="zoom-in" data-aos-once="true">Our Members</h3>
<div class="centerSelect">
  <select id="yearselector" data-aos="zoom-in" data-aos-once="true">
    <option value="year2">2022/23</option>
    <option value="year1">2021/22</option>
  </select>
</div>
<style>
  .our-team {
    display: block;
    text-align: center;
    font-size: 50px;
    margin-top: 8%;
    margin-bottom: 0;
    text-decoration: underline;
    text-decoration-color: var(--vividblue);
  }
  #yearselector {
    width: 250px;
    height: 50px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #333;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }
  #yearselector option {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }
  .centerSelect {
    display: flex;
    justify-content: center;
  }
</style>
