<section id="gallery"><slot /></section>
<style>
  @media screen and (max-width: 600px) {
    #gallery {
      grid-template-columns: auto auto !important;
    }
  }

  #gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
  }
</style>
