<section id="gallery"><slot /></section>
<style>
  @media screen and (max-width: 600px) {
    #gallery {
      grid-template-columns: auto auto !important;
    }
  }

  #gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
  }
  #gallery iframe {
    width: 90%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    align-self: center;
    justify-self: center;
  }
</style>
