<section id="gallery"><slot /></section>
<style>
  @media screen and (max-width: 600px) {
    #gallery {
      grid-template-columns: auto auto !important;
    }
  }

  #gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    margin-top: 30px;
    align-items: center;
    justify-content: center !important;
  }
</style>
