<div class="content">
  <div class="sponsors">
    <slot />
  </div>
</div>
<style>
  .content {
    margin-top: 25px;
    line-height: 2;
  }
  .sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    grid-gap: 50px;
  }
</style>
