---
const { year, classes } = Astro.props;
---

<div class="content">
  <div class:list={[classes, 'sponsors data']} id={year}>
    <slot />
  </div>
</div>
<style>
  .content {
    margin-top: 25px;
    line-height: 1.5;
  }
  .sponsors {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    grid-gap: 50px;
  }
  .showDefault {
    display: flex !important;
  }
</style>
