---
const { year, classes } = Astro.props;
---

<div
  class:list={[classes, 'people data']}
  id={year}
  data-aos="zoom-in"
  data-aos-once="true"
>
  <slot />
</div>
<style>
  .people {
    margin-top: 5%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    column-gap: 70px;
    row-gap: 75px;
  }
  .showDefault {
    display: flex !important;
  }
  .our-team {
    display: block;
    text-align: center;
    font-size: 50px;
    margin-top: 8%;
  }
  h3 {
    text-decoration: underline;
    text-decoration-color: var(--vividblue);
  }
</style>
